#take dv-utils either from github or from pypi
#git+https://github.com/datavillage-me/dv-utils@main#egg=dv-utils
dv-utils>=0.2.2
pandas
openpyxl
duckdb==0.10.1
llama-index
llama-index-embeddings-huggingface 
llama-index-vector-stores-duckdb
llama-index-llms-ollama
llama_index.readers.database